In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# hotels = pd.read_excel("../Data/HotelCustomersDataset.xlsx")

# hotels["date"] =  (pd.to_datetime("2018-12-31")
#                    - pd.to_timedelta(hotels["DaysSinceCreation"], unit="D")).astype("datetime64")

In [3]:
hotels = pd.read_excel("../Data/HotelCustomersDataset.xlsx")

In [4]:
hotels.head(10)

,ID,Nationality,Age,DaysSinceCreation,AverageLeadTime,LodgingRevenue,OtherRevenue,BookingsCanceled,BookingsNoShowed,BookingsCheckedIn,...,SRMediumFloor,SRBathtub,SRShower,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRAwayFromElevator,SRNoAlcoholInMiniBar,SRQuietRoom
0,1,PRT,51.0,150,45,371.0,105.3,1,0,3,...,0,0,0,0,0,0,0,0,0,0
1,2,PRT,NaN,1095,61,280.0,53.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,DEU,31.0,1095,0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,FRA,60.0,1095,93,240.0,60.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,FRA,51.0,1095,0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,JPN,54.0,1095,58,230.0,24.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,7,JPN,49.0,1095,0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,8,FRA,32.0,1095,38,535.0,94.0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
8,9,FRA,42.0,1095,0,0.0,0.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9,10,IRL,25.0,1095,96,174.0,69.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0